
.design{
   font-family: 'Nothing You Could Do', cursive;
   font-size: 22px;
   letter-spacing: 6px;
}

.mycard{
  margin-top: 3%;
  margin-left: 3%;
}


.img_card{
  margin-top: -18.6%;
  margin-left: 70%;
}

.login_img{

  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  margin-top: 4%;
  margin-left: 13%;
  height: 210px;
  width: 230px;
}

.img_btn{
  margin-top: -27%;
  margin-left: 65%;
  font-size: 10px;
}


.welcome{
  font-size: 70px;
}

.card1{
  margin-top: -13%;
  margin-left: 3%;
}

.card2{
  margin-top: -13.15%;
  margin-left: 36.5%;
}
